.switch {
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring), 0 0 0 4px var(--ring-offset-background);
}

.switch:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch[data-state="checked"] {
  background-color: var(--primary);
}

.switch[data-state="unchecked"] {
  background-color: var(--input);
}

.thumb {
  pointer-events: none;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  background-color: var(--background);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb[data-state="checked"] {
  transform: translateX(1.25rem);
}

.thumb[data-state="unchecked"] {
  transform: translateX(0);
}
